
/* Applies to the entire body of the HTML document (except where overridden by more specific
selectors). */
body {
    margin: 25px;
    background-color: #DBE0E5;
    font-family: arial, sans-serif;
    font-size: 14px;
}

form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

h1 {
    align:center;
}

a:link, a:visited, a:active {
    color: white;
    padding: 0px 0px 25px 25px;
    text-decoration: none;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

.menuItem {
    float: left;
    border-style: solid;
    border-width: 1px;
    width: 250px;
    cursor: pointer;
    padding: 5px;
}

.grid-container {
    display: grid;
}

.cartItem {
    border-style: solid;
    border-width: 1px;
    width: 100%;
    cursor: pointer;
}

#top-bar {
	text-align: right;
	background-color: #6B2D42;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 10px;
	padding-left: 10px;
}

#banner-title {
    float:left;
    color:white;
    font-family:Brush Script MT;
    font-size:larger;
}

#welcome {
	text-align: = center;
	font-size: 35px;
	font-weight: normal;
	width:500px;
    margin: 0 auto;
	margin-top: 50px;
	font-size: 48pt;
	color: blue;
}


/* Side navigation stuff from https://www.w3schools.com/howto/howto_js_sidenav.asp--> */
/* The side navigation menu */
#Sidenav {
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    right: 25px;
    background-color: #6B2D42;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-right: 10px;
    color:white;
}

/* The navigation menu links */
#Sidenav a {
    padding: 8px 15px 8px 32px;
    text-decoration: none;
    color: white;
    display: block;
}

#exceptionLink {
    color: blue;
    padding-left: 0px
}
