
/* Applies to the entire body of the HTML document (except where overridden by more specific
selectors). */
body {
  margin: 25px;
  background-color: rgb(240,240,240);
  font-family: arial, sans-serif;
  font-size: 14px;
}

.link { 
	padding: 0px 0px 25px 25px;
}

#top-bar { 
	text-align: right;
}

#welcome {
	text-align: = center;
	font-size: 35px;
	font-weight: normal;
	width:500px;
    margin: 0 auto;
	margin-top: 50px;
}