
/* Applies to the entire body of the HTML document (except where overridden by more specific
selectors). */
body {
    margin: 25px;
    background-color: #DBE0E5;
    font-family: arial, sans-serif;
    font-size: 14px;
}

form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    align: center;
    width: 250px;
}

h1, h2 {
    text-align: center;
    font-family: Optima;
}

a:link, a:visited, a:active {
    color: white;
    padding: 0px 0px 25px 25px;
    text-decoration: none;
}

table{
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    border-collapse: collapse;
    background-color: white;
}

th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}

td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

.update-button {
    width: 175px;
}

.account-table{
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
}


.in-table-form {
    width: 100px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.menuItem {
    float: left;
    border: 2px solid #6B2D42;
    width: 250px;
    cursor: pointer;
    padding: 5px;
}

.outOfStock {
    float: left;
    border-style: solid;
    border-width: 2px;
    width: 250px;
    color: red;
    padding: 5px;
}

.grid-container {
    display: grid;
    background-color: white;
    border: 2px solid #6B2D42;
}

.cartItem {
    border-style: solid;
    border-width: 1px;
    width: 100%;
    cursor: pointer;
}

.form-div {
    background-color: white;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    padding-bottom: 10px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

#top-bar {
	text-align: right;
	background-color: #6B2D42;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 10px;
	padding-left: 10px;
}

#banner-title {
    float:left;
    color:white;
    font-family:Brush Script MT;
    font-size:larger;
}

#admin-links {
	text-align: right;
	background-color: #6B2D42;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 10px;
	padding-left: 10px;
}

/* The navigation menu links */
#admin-links a {
    padding: 8px 15px 8px 32px;
    text-decoration: none;
    color: white;
}

#welcome {
	text-align: = center;
	font-size: 35px;
	font-weight: normal;
	width:900px;
    margin: 0 auto;
	margin-top: 25px;
	font-size: 48pt;
}

#updateAccount-form {
    width: 100px;
}

#orderForm {

}

#inventory-table {
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
}

#database-table {
    background-color: white;
    border: 2px solid black;
}

#cart {
    text-align: center;
}

#exceptionLink {
    color: blue;
    padding-left: 0px
}
