{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="{% static 'dansbagels/style.css' %}" type="text/css"/>
        <link rel="shortcut icon" href="{%static 'dansbagels/images/favicon.ico' %}"/>
        <title>Account</title>
    </head>
    <body>
        <div id="top-bar">
            <span id="banner-title" style="float:left; font-size:larger;">Dan's Bagel Shop</span>
            <a href="/dansbagels/home" class="link">Home</a>
            <a href="/dansbagels/createAccount" class="link">Create Account</a>
            <a href="/dansbagels/login" class="link">Log in</a>
            <a href="/dansbagels/account" class="link">Account</a>
            <a href="/dansbagels/orderBagel" class="link">Place Order</a>
        </div>
        {% if permitted %}
            <div id="admin-links">
                <a href="/dansbagels/activeOrders" class="link">Active Orders</a>
                <a href="/dansbagels/completedOrders" class="link">Completed Orderes</a>
                <a href="/dansbagels/inventory">Inventory</a>
                {% if admin %}
                    <a href="/dansbagels/admin/database">Database Info</a>
                    <a href="/dansbagels/admin/createEmployeeAccount">Create Employee Account</a>
                {% endif %}
            </div>
        {% endif %}
        <div>
            <h1>Account Info</h1>
            <p style="text-align: center;">To update your account info, click each 'update' button corresponding to
            the info you want to change, input the desired change, then press enter.</p>
            <form method="post" id="updateAccount-form">
                {% csrf_token %}
             <button type="submit" style="visibility: hidden"></button>
            </form>

            <table class="account-table">
                <tr>
                    <th>Account Type</th>
                    <td>
                        {{ accountType }}
                    </td>
                </tr>
            </table>
            <br>
            <table class="account-table">
                <tr>
                    <th>Username</th>
                    <td>{{ userName }}</td>
                    <td>
                        <form class="update-button">
                            {% csrf_token %}
                            <button type="button" id="username" name="button" form="updateAccount-form">Update</button>
                            {{updateAccountForm.username}}
                        </form>
                    </td>
                </tr>
                <tr>
                    <th>Password</th>
                    <td>{{ password }}</td>
                    <td>
                        <form class="update-button">
                            {% csrf_token %}
                            <button type="button" id="password" name="button">Update</button>
                            {{updateAccountForm.password}}
                        </form>
                    </td>
                </tr>
                <tr>
                    <th>First Name</th>
                    <td>{{ firstName }}</td>
                    <td>
                        <form class="update-button">
                            {% csrf_token %}
                            <button type="button" id="firstName" name="button">Update</button>
                            {{updateAccountForm.firstName}}
                        </form>
                    </td>
                </tr>
                <tr>
                    <th>Last Name</th>
                    <td>{{ lastName }}</td>
                    <td>
                        <form class="update-button">
                            {% csrf_token %}
                            <button type="button" id="lastName" name="button">Update</button>
                            {{updateAccountForm.lastName}}
                        </form>
                    </td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ email }}</td>
                    <td>
                        <form class="update-button">
                            {% csrf_token %}
                            <button type="button" id="email" name="button">Update</button>
                            {{updateAccountForm.email}}
                        </form>
                    </td>
                </tr>
                <tr>
                    <th>Phone Number</th>
                    <td>{{ phoneNumber }}</td>
                    <td>
                        <form class="update-button">
                            {% csrf_token %}
                            <button type="button" id="phone" name="button">Update</button>
                            {{updateAccountForm.phone}}
                        </form>
                    </td>
                </tr>
                <tr>
                    <th>Account Balance</th>
                    <td>{{ accountBalance }}</td>
                    <td>
                        <form class="update-button">
                            {% csrf_token %}
                            <button type="button" id="accountBalance" name="button">Update</button>
                            {{updateAccountForm.accountBalance}}
                        </form>
                    </td>
                </tr>
            </table>
            <br><br>
            <h2>Current Order(s) Info</h2>
            {% for order in trackedOrder %}
                <div align="center">
                    <table>
                        <tr>
                            <th>Pick Up Time</th>
                            <td>{{ order.pickUpTime }}</td>
                        </tr>
                        <tr>
                            <th>Status</th>
                            <td>{{ order.currentStatus }}</td>
                        </tr>
                        <tr>
                            <th>Items</th>
                            <td>
                                {% for item in orderLineItems %}
                                    {% if item.order == order %}
                                        <p>{{item.itemOrdered}} x{{item.orderQuantity_int}}</p>
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <th>Instructions</th>
                            <td>{{ order.orderInstructions_text }}</td>
                        </tr>
                        <tr>
                            <th>Cost</th>
                            <td>${{ order.orderCost_decimal }}</td>
                        </tr>
                        {% ifequal order.currentStatus|stringformat:"s" "Ordered" %}
                            <tr>
                                <td colspan="2" style="background-color:#6B2D42;">
                                        <form method="post" action="{% url 'cancelOrder' %}">
                                            {% csrf_token %}
                                            <input type="hidden" value="true" name="refund">
                                            <button type="submit" value="{{order.id}}" name="cancel">Cancel Order</button>
                                        </form>
                                </td>
                            </tr>
                        {% endifequal %}
                    </table>


                </div>
            <br>
            {% endfor %}

        <h2>Order History</h2>
            {% for order in orderHistory %}
                <div align="center">
                    <table>
                        <tr>
                            <th>Pick Up Time</th>
                            <td>{{ order.pickUpTime }}</td>
                        </tr>
                        <tr>
                            <th>Items</th>
                            <td>
                                {% for item in orderLineItems %}
                                    {% if item.order == order %}
                                        <p>{{item.itemOrdered}} x{{item.orderQuantity_int}}</p>
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <th>Instructions</th>
                            <td>{{ order.orderInstructions_text }}</td>
                        </tr>
                        <tr>
                            <th>Cost</th>
                            <td>${{ order.orderCost_decimal }}</td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <form method="post" action="{% url 'reorder' %}">
                                    {% csrf_token %}
                                    {{reorder.as_p}}
                                    <button type="submit" value="{{order.id}}" name="reorder">Reorder</button>
                                </form>
                            </td>
                        </tr>
                    </table>
                    <br>
                </div>
                <br>
            {% endfor %}
        </div>
<script src="{% static 'dansbagels/accountScript.js' %}"></script>
    </body>
</html>