{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="{% static 'dansbagels/style.css' %}" type="text/css"/>
        <link rel="shortcut icon" href="{%static 'dansbagels/images/favicon.ico' %}"/>
        <title>Account</title>
    </head>
    <body>
        <div id="top-bar">
            <span id="banner-title" style="float:left; font-size:larger;">Dan's Bagel Shop</span>
            <a href="/dansbagels/home" class="link">Home</a>
            <a href="/dansbagels/createAccount" class="link">Create Account</a>
            <a href="/dansbagels/login" class="link">Log in</a>
            <a href="/dansbagels/account" class="link">Account</a>
            <a href="/dansbagels/orderBagel" class="link">Place Order</a>
        </div>
        {% if permitted %}
            <div id="admin-links">
                <a href="/dansbagels/admin/add_rem">Database Info</a>
                <a href="/dansbagels/inventory">Inventory</a>
            </div>
        {% endif %}
        <div>
            <h1>Account Info</h1>
            <p>To update your account info, input the updated info in the box next to your current info and click update
            when done.</p>
            <form method="post">
                {% csrf_token %}
                <table>
                    <tr>
                        <th>Username</th>
                        <td>{{ userName }}</td>
                        <td>{{updateAccountForm.username}}</td>
                    </tr>
                    <tr>
                        <th>Password</th>
                        <td>{{ password }}</td>
                        <td>{{updateAccountForm.password}}</td>
                    </tr>
                    <tr>
                        <th>First Name</th>
                        <td>{{ firstName }}</td>
                        <td>{{updateAccountForm.firstName}}</td>
                    </tr>
                    <tr>
                        <th>Last Name</th>
                        <td>{{ lastName }}</td>
                        <td>{{updateAccountForm.lastName}}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{ email }}</td>
                        <td>{{updateAccountForm.email}}</td>
                    </tr>
                    <tr>
                        <th>Phone Number</th>
                        <td>{{ phoneNumber }}</td>
                        <td>{{updateAccountForm.phone}}</td>
                    </tr>
                    <tr>
                        <th>Account Balance</th>
                        <td>{{ accountBalance }}</td>
                        <td>{{updateAccountForm.accountBalance}}</td>
                    </tr>
                    <tr>
                        <th>Account Type</th>
                        <td>{{ accountType }}</td>
                    </tr>
                </table>
                <button type="submit">Update</button>
            </form>
            <h1>Order status (if any)</h1>
            {% for order in orderHistory %}
            <div>
                <p>{{ order.pickUpTime }}</p>
                <p>${{ order.orderCost_decimal }}</p>
                <p>{{ order.orderInstructions_text }}</p>
                {% for item in orderLineItemHistory %}
                {% if item.order == order %}
                <p>{{item.itemOrdered}} x{{item.orderQuantity_int}}</p>
                {% endif %}
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </body>
</html>