{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="{% static 'dansbagels/style.css' %}" type="text/css"/>
        <link rel="shortcut icon" href="{%static 'dansbagels/images/favicon.ico' %}"/>
        <title>Account</title>
    </head>
    <body>
        <div id="top-bar">
            <span id="banner-title" style="float:left; font-size:larger;">Dan's Bagel Shop</span>
            <a href="/dansbagels/home" class="link">Home</a>
            <a href="/dansbagels/createAccount" class="link">Create Account</a>
            <a href="/dansbagels/login" class="link">Log in</a>
            <a href="/dansbagels/account" class="link">Account</a>
            <a href="/dansbagels/orderBagel" class="link">Place Order</a>
        </div>
        {% if permitted %}
            <div id="admin-links">
                <a href="/dansbagels/admin/add_rem">Database Info</a>
                <a href="#">Inventory</a>
            </div>
        {% endif %}
        <div>
            <h1>Account Info</h1>
            <p>To update your account info, input the updated info in the box next to your current info and click update
            when done.</p>
            <form method="post">
                {% csrf_token %}
                <table>
                    <tr>
                        <th>Username</th>
                        <th>{{ userName }}</th>
                        <th>{{updateAccountForm.username}}</th>
                    </tr>
                    <tr>
                        <th>Password</th>
                        <th>{{ password }}</th>
                        <th>{{updateAccountForm.password}}</th>
                    </tr>
                    <tr>
                        <th>First Name</th>
                        <th>{{ firstName }}</th>
                        <th>{{updateAccountForm.firstName}}</th>
                    </tr>
                    <tr>
                        <th>Last Name</th>
                        <th>{{ lastName }}</th>
                        <th>{{updateAccountForm.lastName}}</th>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <th>{{ email }}</th>
                        <th>{{updateAccountForm.email}}</th>
                    </tr>
                    <tr>
                        <th>Phone Number</th>
                        <th>{{ phoneNumber }}</th>
                        <th>{{updateAccountForm.phone}}</th>
                    </tr>
                    <tr>
                        <th>Account Balance</th>
                        <th>{{ accountBalance }}</th>
                        <th>{{updateAccountForm.accountBalance}}</th>
                    </tr>
                    <tr>
                        <th>Account Type</th>
                        <th>{{ accountType }}</th>
                    </tr>
                </table>
                <button type="submit">Update</button>
            </form>
            {% for order in orderHistory %}
            <div>
                <p>{{ order.pickUpTime }}</p>
                {% for item in orderLineItemHistory %}
                    {% if item.order == order %}
                    <p>{{item.itemOrdered}} x{{item.orderQuantity_int}}</p>
                    {% endif %}
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </body>
</html>