{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="{% static 'dansbagels/style.css' %}" type="text/css"/>
        <link rel="shortcut icon" href="{%static 'dansbagels/images/favicon.ico' %}"/>
        <title>Add/Remove</title>
    </head>
    <body>
        <div id="top-bar">
            <a href="/dansbagels/home" class="link">Home</a>
            <a href="/dansbagels/createAccount" class="link">Create Account</a>
            <a href="/dansbagels/login" class="link">Log in</a>
            <a href="/dansbagels/account" class="link">Account</a>
            <a href="/dansbagels/orderBagel" class="link">Place Order</a>
        </div>
        <div>
        {% if permitted %}
            <h1>Create an Account</h1>
            <table>
                <tr>
                    <th>User Name</th>
                    <th>Password</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Account Balance</th>
                    <th>Account Type</th>
                </tr>
                {% for person in people %}
                    <tr>
                        <th>{{person.username_text}}</th>
                        <th>{{person.password_text}}</th>
                        <th>{{person.firstName_text}}</th>
                        <th>{{person.lastName_text}}</th>
                        <th>{{person.email_email}}</th>
                        <th>{{person.phoneNumber_text}}</th>
                        <th>{{person.accountBalance_decimal}}</th>
                        <th>{{person.accountType}}</th>
                    </tr>
                {% endfor %}
            </table>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Submit">
            </form>

        {% else %}
            <h1>Access denied, invalid account type</h1>
        {% endif %}
        </div>
    </body>
</html>