{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="{% static 'dansbagels/style.css' %}" type="text/css"/>
        <link rel="shortcut icon" href="{%static 'dansbagels/images/favicon.ico' %}"/>
        <title>Add/Remove</title>
    </head>
    <body>
        <div id="top-bar">
            <span id="banner-title" style="float:left; font-size:larger;">Dan's Bagel Shop</span>
            <a href="/dansbagels/home" class="link">Home</a>
            <a href="/dansbagels/createAccount" class="link">Create Account</a>
            <a href="/dansbagels/login" class="link">Log in</a>
            <a href="/dansbagels/account" class="link">Account</a>
            <a href="/dansbagels/orderBagel" class="link">Place Order</a>
        </div>
        <div>
        {% if permitted %}
            <div id="admin-links">
                <a href="/dansbagels/activeOrders" class="link">Active Orders</a>
                <a href="/dansbagels/completedOrders" class="link">Completed Orderes</a>
                <a href="/dansbagels/inventory">Inventory</a>
                {% if admin %}
                    <a href="/dansbagels/admin/database">Database Info</a>
                    <a href="/dansbagels/admin/createEmployeeAccount">Create Employee Account</a>
                {% endif %}
            </div>
        {% endif %}
        {% if admin %}

            <h1>Database Info</h1>
            <table id="database-table">
                <tr>
                    <th>User Name</th>
                    <th>Password</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Account Balance</th>
                    <th>Account Type</th>
                    <th>Delete Account</th>
                </tr>
                {% for person in people %}
                    <tr>
                        <td>{{person.username_text}}</td>
                        <td>{{person.password_text}}</td>
                        <td>{{person.firstName_text}}</td>
                        <td>{{person.lastName_text}}</td>
                        <td>{{person.email_email}}</td>
                        <td>{{person.phoneNumber_text}}</td>
                        <td>{{person.accountBalance_decimal}}</td>
                        <td>{{person.accountType}}</td>
                        <td>
                            <form action="{% url 'deleteAccount' %}" method="post" class="in-table-form">
                                {% csrf_token %}
                                <button type="submit" value={{person.username_text}} name="DeleteButton">Delete</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </table>


        {% else %}
            <h1>Access denied, invalid account type</h1>
        {% endif %}
        </div>
    </body>
</html>