{# This page is primarily for the cashier #}
{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="{% static 'dansbagels/style.css' %}" type="text/css"/>
        <link rel="shortcut icon" href="{%static 'dansbagels/images/favicon.ico' %}"/>
        <title>Home</title>
    </head>
    <body>
        <div id="top-bar">
            <!-- For some reason, I can't get these style things to work in CSS; the other ones work -->
            <span id="banner-title" style="float:left; font-size:larger;">Dan's Bagel Shop</span>
            <a href="/dansbagels/home" class="link">Home</a>
            <a href="/dansbagels/createAccount" class="link">Create Account</a>
            <a href="/dansbagels/login" class="link">Log in</a>
            <a href="/dansbagels/account" class="link">Account</a>
            <a href="/dansbagels/orderBagel" class="link">Place Order</a>
        </div>
        <!-- anything in the style attribute here isn't showing up just from CSS -->

        {% if permitted %}
            <div id="admin-links">
                <a href="/dansbagels/admin/add_rem">Database Info</a>
                <a href="/dansbagels/inventory">Inventory</a>
            </div>
        {% endif %}
        <h1>List of completed Orders</h1>
        {# Completed order stuff goes here #}
    </body>
</html>