{# This page is primarily for the manager and the chef #}
{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="{% static 'dansbagels/style.css' %}" type="text/css"/>
        <link rel="shortcut icon" href="{%static 'dansbagels/images/favicon.ico' %}"/>
        <title>Home</title>
    </head>
    <body>
        <div id="top-bar">
            <!-- For some reason, I can't get these style things to work in CSS; the other ones work -->
            <span id="banner-title" style="float:left; font-size:larger;">Dan's Bagel Shop</span>
            <a href="/dansbagels/home" class="link">Home</a>
            <a href="/dansbagels/createAccount" class="link">Create Account</a>
            <a href="/dansbagels/login" class="link">Log in</a>
            <a href="/dansbagels/account" class="link">Account</a>
            <a href="/dansbagels/orderBagel" class="link">Place Order</a>
        </div>
	<!-- anything in the style attribute here isn't showing up just from CSS -->
        {% if permitted %}
            <div id="admin-links">
                <a href="/dansbagels/activeOrders" class="link">Active Orders</a>
                <a href="/dansbagels/completedOrders" class="link">Completed Orderes</a>
                <a href="/dansbagels/inventory">Inventory</a>
                {% if admin %}
                    <a href="/dansbagels/admin/database">Database Info</a>
                    <a href="/dansbagels/admin/createEmployeeAccount">Create Employee Account</a>
                {% endif %}
            </div>
        {% endif %}
        {% if permitted %}
            <h1 align="center">Inventory</h1>

            <form method="post" id="inventory-form">{% csrf_token %}</form>
            <table id="inventory-table" align="center" style="margin-left: auto; margin-right: auto;">
                <tr>
                    <th>Item</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Amount to order/remove</th>
                    <th>Remove Item From Menu</th>
                </tr>
                {% for item in menuItems %}
                <tr>
                    <td>{{item.itemName_text}}</td>
                    <td>${{item.itemPrice_decimal}}</td>
                    <td>{{item.inventoryQuantity_int}}</td>
                    <td>
                        <form>
                            {% csrf_token %}
                            <input type="number" name="{{item.id}}" form="inventory-form" value=0>
                        </form>
                    </td>
                    <td>
                        <form>
                            {% csrf_token %}
                            <input type="checkbox" name="delete{{item.id}}" form="inventory-form" value="remove">
                            <label for="delete{{item.id}}">Delete Item</label>
                        </form>
                    </td>
                </tr>{% endfor %}
                <tr>
                    <td colspan="5" style="background-color: #6B2D42;">
                        <br>
                        <div align="center">
                            <button type="submit" form="inventory-form">Update Inventory</button>
                        </div>
                        <br>
                    </td>
                </tr>
            </table>
            <p></p>

        <h1>Create New Menu Item</h1>
            <div id="form-div" align="center">
                <form method="post" action="{% url 'createMenuItem' %}">
                    {% csrf_token %}
                    {{ createMenuItem.as_p }}
                    <button type="submit">Add Item</button>
                </form>
            </div>
        {% endif %}
    </body>
</html>