{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="{% static 'dansbagels/style.css' %}" type="text/css"/>
        <link rel="shortcut icon" href="{%static 'dansbagels/images/favicon.ico' %}"/>
        <title>Log in</title>
    </head>
    <body>
        <div id="top-bar">
            <span id="banner-title" style="float:left; font-size:larger;">Dan's Bagel Shop</span>
            <a href="/dansbagels/home" class="link">Home</a>
            <a href="/dansbagels/createAccount" class="link">Create Account</a>
            <a href="/dansbagels/login" class="link">Log in</a>
            <a href="/dansbagels/account" class="link">Account</a>
            <a href="/dansbagels/orderBagel" class="link">Place Order</a>
            {% if permitted %}
                <a href="/dansbagels/activeOrders" class="link">Active Orders</a>
                <a href="/dansbagels/completedOrders" class="link">Completed Orderes</a>
                <a href="/dansbagels/inventory">Inventory</a>
            {% endif %}
        </div>
        {% if admin %}
            <div id="admin-links">
                <a href="/dansbagels/admin/database">Database Info</a>

            </div>
        {% endif %}
        <h1 align="center">Log in</h1>
        {% if user_is_logged_in %}

            <p align="center"> Currently logged in: {{ username }}</p>
            <div align="center">
                <form action="{% url 'prototype_logout' %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Logout" />
                </form>
            </div>


        {% else %}

            {% if failed_login %}
                <p align="center"> Username / password incorrect. </p>
            {% else %}
                <p align="center"> You are not logged in. </p>
            {% endif %}

            <div id="form-div" align="center" style="padding-top: 10px;">
                <form action="{% url 'prototype_login' %}" method="post">
                    {% csrf_token %}
                    <label for="txt_username"></label>
                    <input name="username" id="txt_username" placeholder="Username"/><br>
                    <label for="txt_password"></label>
                    <input name="password" type="password" id="txt_password" placeholder="Password"/><br>
                    <p></p>
                    <input type="submit" value="Login" />
                </form>
            </div>


        {% endif %}
    </body>
</html>
