{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="{% static 'dansbagels/style.css' %}" type="text/css"/>
        <link rel="shortcut icon" href="{%static 'dansbagels/images/favicon.ico' %}"/>
        <title>Log in</title>
    </head>
    <body>
        <div id="top-bar">
            <span id="banner-title" style="float:left; font-size:larger;">Dan's Bagel Shop</span>
            <a href="/dansbagels/home" class="link">Home</a>
            <a href="/dansbagels/createAccount" class="link">Create Account</a>
            <a href="/dansbagels/login" class="link">Log in</a>
            <a href="/dansbagels/account" class="link">Account</a>
            <a href="/dansbagels/orderBagel" class="link">Place Order</a>
        </div>
        {% if permitted %}
            <div id="Sidenav">
                <p style="padding-left:15px">Admin Links</p>
                <a href="/dansbagels/admin/add_rem">Database Info</a><br>
                <a href="#">Inventory</a>
            </div>
        {% endif %}
        <h1 align="center">Log in</h1>
        {% if user_is_logged_in %}

            <p align="center"> Currently logged in: {{ username }}</p>
            <form action="{% url 'prototype_logout' %}" method="post">
                {% csrf_token %}
                <input type="submit" value="Logout" />
            </form>

        {% else %}

            {% if failed_login %}
                <p align="center"> Username / password incorrect. </p>
            {% else %}
                <p align="center"> You are not logged in. </p>
            {% endif %}

            <form action="{% url 'prototype_login' %}" method="post">
                {% csrf_token %}
                <label for="txt_username">Username</label>
                <input name="username" id="txt_username" /><br>
                <label for="txt_password">Password</label>
                <input name="password" type="password" id="txt_password" /><br>
                <input type="submit" value="Login" />
            </form>

        {% endif %}
    </body>
</html>
