{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8"/>
        {% load static %}
        <link rel="stylesheet" href="{% static 'dansbagels/style.css' %}" type="text/css"/>
        <link rel="shortcut icon" href="{%static 'dansbagels/images/favicon.ico' %}"/>
        <title>Order Bagel</title>
    </head>
    <body>
        <div id="top-bar">
            <span id="banner-title" style="float:left; font-size:larger;">Dan's Bagel Shop</span>
            <a href="/dansbagels/home" class="link">Home</a>
            <a href="/dansbagels/createAccount" class="link">Create Account</a>
            <a href="/dansbagels/login" class="link">Log in</a>
            <a href="/dansbagels/account" class="link">Account</a>
            <a href="/dansbagels/orderBagel" class="link">Place Order</a>
            {% if permitted %}
                <a href="/dansbagels/activeOrders" class="link">Active Orders</a>
                <a href="/dansbagels/completedOrders" class="link">Completed Orderes</a>
            {% endif %}
        </div>
        {% if admin %}
            <div id="admin-links">
                <a href="/dansbagels/admin/database">Database Info</a>
                <a href="/dansbagels/inventory">Inventory</a>
            </div>
        {% endif %}
        {% if logged_in %}
            <h1>Place Order</h1>
            <h2>Menu</h2>
            <div class="grid-container">
                <div>
                    {% for menuItem in menuItems %}
                    {% if menuItem.inventoryQuantity_int > 0 %}
                        <div class="menuItem">
                            <h3>{{menuItem.itemName_text}}</h3>
                            <p>${{menuItem.itemPrice_decimal}}</p>
                        </div>
                    {% else %}
                        <div class="outOfStock">
                            <h3>{{menuItem.itemName_text}}</h3>
                            <p>${{menuItem.itemPrice_decimal}}</p>
                        </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
                <div id="cart"></div>
                    <div id="checkOut">
                        <form action="{% url 'placeOrder' %}" method="post" id="orderForm">
                            {% csrf_token %}
                            {{ orderForm.as_p }}
                            <button id="placeOrderButton" type="submit">Place Order</button>
                        </form>
                    </div>
                <script src="{% static 'dansbagels/bagelOrderScript.js' %}"></script>
        {% else %}
            <p>Please Log in to place an order</p>
        {% endif %}
    </body>
</html>